@model List<EcSite.ViewModels.DisplayOrderViewModel>

<h5>ショッピングカート</h5>
<section style="display:inline-block; width:70%;margin-top:5px;">
    @foreach (var item in Model)
    {
        <section>
            <div class="d-inline-block">
                <img class="image-middle" src="~/images//cosmeticsAssortment.jpg" />
            </div>
            <div class="d-inline-block align-top" style="max-width:70%;overflow-wrap:anywhere;">
                <span>@item.ProductName</span>
                <br />
                <span>@item.BrandName</span>
                <br />
                <span>
                    @Html.Raw($"<span class=\"{(item.StockQuantity == 0 ? "font-red" : "font-blue")}\">{item.GetMessageForStockQuantity(item.StockQuantity)}</span>")
                </span>
                <br />
                <label>@Html.LabelFor(viewModelList => viewModelList[0].OrderQuantity)</label>
                <select class="option-quantity">
                    @for (int i = 0; i <= item.StockQuantity; i++)
                    {
                        @if (i == @item.OrderQuantity)
                        {
                            <option selected>@i</option>
                        }
                        else
                        {
                            <option>@i</option>
                        }
                    }
                </select>
                <br />
                <label>@Html.LabelFor(viewModelList => viewModelList[0].Price)</label>
                <span>@item.Price</span>
            </div>
        </section>
        <br />
    }
</section>
<section style="display:inline-block; vertical-align:top; width:20%;">
    <button class="btn btn-warning btn-width-long">購入する</button>
</section>